body {
  background-color: yellow;
}

.row {
  height: 120px;
  width: 100%;
}

.row1 {
  background-color: #3DCCC7;
}

.row2 {
  background-color: #68D8D6;
}

.row3 {
  background-color: #9CEAEF;
}

.row4 {
  background-color: #03CEA4;
}

.row5 {
  background-color: #C4FFF9;
}

.row6 {
  background-color: #2F6362;
}

.circle {
  height: 100px;
  width: 100px;
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 50%;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}
