body {
  margin: 0;
}

h1 {
  height: 60px;
  width: 100px;
  margin: auto;
  margin-top: 10%;
  padding: 20px 10px;
  font-size: inherit;
  border: 2px solid green;
  border-radius: 20%;
  text-align: center;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
